* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-top: 2rem;
  text-transform: capitalize;
}

.out-elem {
  display: grid;
  place-content: center;
  margin: 2rem 0;
  list-style-type: none;
}

.out-elem li {
  padding: 0.5rem 0;
  border-bottom: 1px dotted black;
}

.out-elem li p {
  display: flex;
  justify-content: space-between;
}

.out-elem li strong {
  padding-left: 1rem;
}

/* spinner */
.lds-dual-ring {
  position: absolute;
  top: 7rem;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* spinner */
